.production-page {
  flex: 1;
  overflow: hidden;
  background-color: white;
}

.production-default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #64748b;
}

.production-default h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.production-default p {
  font-size: 0.875rem;
}