/* src/components/production/sidebars/RollSidebar.module.css */

.sidebar {
  width: 180px;
  background-color: #fafafa;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.sidebar h3 {
  margin: 0 0 10px 0;
}
