.areaContainer {
  padding: 10px;
  border: 1px solid #eee;
}

.areaContent {
  display: flex;
  margin-top: 10px;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 5px;
}

.mainContent {
  flex: 1;
  padding: 5px;
}
