@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for a sleeker look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

body {
  background-color: #f8fafc;
  /* Slate-50 */
  color: #0f172a;
  /* Slate-900 */
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  /* App-like feel */
}